* {
	padding: 0;
	margin: 0;
}
img{
	max-width: 100%;
}
.header-wrap {
	background-color: deepskyblue;
}
.header__headline {
	font-size: 	18px;
}
header{
	background-color: green;
}
img{
	margin: 5px 0;
}
li{
	list-style: none;
}
nav{
	background-color: green;
}
nav ul li a{
	max-width: 700px;
	color: white;
	transition: 0.5s;
	font-size: 16px;
}
.container{
	background-color: green;
}
form {
	font-size: 16px;
}
footer {
	background-color: green;
	font-size: 16px;
}
td, th {
	padding: 5px;
	font-size: 12px;
}
tr:nth-child(even) {
	background-color: none;
}
tr:nth-child(odd) {
	background-color: none;
}
table {
	margin: 0 auto;
	max-width: 700px;
	text-align: center;
	border: 1px solid black;
	border-collapse: collapse;
}
form{
	width: 100%;
}
.photo-one{
	width: 100px;
}
.photo-two{
	width: 100px;
}
.photo-three{
	width: 100px;
}
.footer-contact__phone a{
	color: yellow;
}
.footer-contact__mail a{
	color: yellow;
}


#gamucto-necagus { 
  padding: 0 10px 30px 10px; 
  margin-top: 30px 0px 0px; 
} 
#gamucto-necagus .carousel-control { 
  background: none; 
  color: #222; 
  font-size: 2.3em; 
  text-shadow: none; 
  margin-top: 30px; 
} 
#gamucto-necagus img { 
  width: 100px; 
  height: 100px; 

} 
.item blockquote { 
  border-left: none; 
  margin: 0; 
} 
.item blockquote img { 
  margin-bottom: 10px; 
} 
/*.item blockquote p:before { 
  content: "\f10d"; 
  font-family: 'Fontawesome'; 
  float: left; 
  margin-right: 10px; 
} */
/*@media (min-width: 768px) { 
  #gamucto-necagus { 
  margin-bottom: 0; 
  padding: 0 40px 30px 40px; 
  margin-top: 30px; 
  } 
} */


@media(min-width: 768px){
	.header__headline {
		font-size: 	28px;
	}	
	#top{
		font-size: 20px;
	}
	header,
	.link-list,
	footer {
		font-size: 20px;
	}
	nav ul li a{
		font-size: 20px;
	}
	form h5{
		font-size: 20px;
	}
	td, th {
		font-size: 18px;
	}
}
@media(min-width: 1024px){
	.header__headline {
		font-size: 	34px;
	}	
	#top{
		font-size: 24px;
	}
	header,
	.link-list,
	form,
	footer {
		font-size: 22px;
	}
	nav ul li a{
		font-size: 24px;
	}
	form h3{
		font-size: 25px;
	}
	td, th {
		font-size: 20px;
	}
	input[type="submit"] {
		font-size: 16px;
		border: 3px solid purple;
		padding: 5px 25px;	
		border-radius: 18px;
	}
	input[type="checkbox"] {
		display: inline-block;
		width: 20px;
		height: 20px;
	}
	input[type="text"]{
		border: 2px solid gold;
		font-size: 22px;
	}
	input[type="email"]{
		border: 2px solid orange;
		font-size: 22px;
	}
	input[type="date"]{
		border: 2px solid pink;
		font-size: 22px;
	}
	select[name="field1"]{
		border: 2px solid gold;
		font-size: 22px;
	}
	.par{
		font-size: 18px;
	}
}
